@import url('https://fonts.googleapis.com/css?family=Poppins:400,600,700,900');




body {
  font-size: 17px;
  background-color: #000;
  color: #FFF;
font-size: 1.25rem;
  font-family: 'Poppins', sans-serif;
}

a {
    color: #FFF;
    text-decoration: none;
}

h1 {
   font-size: 5.75rem;
    line-height: 6.25rem;
    max-width: 850px;
    font-weight: 600;
}


h2 {
   font-size: 1.375rem;
    max-width: 625px;
    font-weight:400;

}

.wrapper {
  display: grid;
  grid-gap: 20px;
  width: 75%;
  margin: 0px auto;
}

.gallery img:hover {
	opacity: .8;
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}


/* Navigation */

.logo {
    font-weight: 600;
}

.navigation  {
    text-align: right;
}

.nav {
    margin-top: 100px;
    display: inline-grid;
    font-size: 1.25rem;
    grid-template-areas:
    "nav nav"
}

.nav-item {
    list-style: none;
    color: #aaaaae;
    text-decoration: none;
    margin-right: 30px;
}

.nav-item:hover {
    color: #FFF;
    transition: all .3s linear;
}

.nav-item-contact {
     list-style: none;
    color: #aaaaae;
    text-decoration: none;
    margin-right: 30px;
    padding: 2% 5%;
    border-radius: 50px;
    background: hsla(0,0%,100%,.15);
}

.nav-item-contact:hover {
    color: #FFF;
    background: hsla(0,0%,100%,.25);
       transition: all .3s linear;
}

.menu a {
    text-decoration: none;
    display:inline-grid;

}



/* Body */

.top {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
    "head head"
    "logo menu"
}

.head {
    grid-area:head head;
    min-height: 400px;
    margin-top: 72px;
    margin-bottom: 128px;
}

.button-home {
    margin-top: 40px;
}

.btn {
    padding: 1% 3%;
    border-radius: 50px;
    background: #38C1FE;
}

.btn:hover {
    background: #3AF5C2;
    transition: all .3s linear;
}

/* Photo Gallery */

.gallery {
 display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
    
.gallery img {
  width: 100%;
}


/* Footer */

.footer {
    margin-top: 128px;
  display: inline-grid;   
  grid-template-areas:
    "copyright social"
}

.social {
    text-align: right;
}

.nav-item-last {
    margin-right: 0px !important;
    color: #aaaaae;
}

.nav-item-last:hover {
      color: #FFF;
    transition: all .3s linear;
}

/* Media Q's */


@media (max-width: 900px) {
     .footer .nav-item {
        text-align: left;
        display: block;
    }
    
    .footer .nav-item-last {
        text-align: left;
        display: block;
    }
    
    
}

@media (max-width: 700px) {
  .nav {
    grid-template-areas:
      "nav"
      "nav"
  }
    .navigation  {
    text-align: left;
        margin-top: 24px;
}
    
    .footer {   
  grid-template-areas:
    "copyright"
    "social"
}
    
    .social {
    text-align: left;
}
    
    .btn {
    padding: 2% 6%;
    }
    
     .gallery {
 display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
    
    
 
}

@media (max-width: 500px) {
    
     h1 {
        font-size: 3rem;
        line-height: 3.5rem;
    }
    
    h2 {
        font-size: 1.25rem;
        max-width: 225px;
    }
    
    .head {
        margin-top: 72px;
    }
    
    .gallery {
 display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
}
    
}
